language: node_js

matrix:
  fast_finish: true
  allow_failures:
    - node_js: 4
  include:
    - node_js: node
      env: NPM_SCRIPT=lint
    - node_js: node
      env: NPM_SCRIPT=commitlint-travis
    - node_js: node
      env: NPM_INSTALL_EXTRA="webpack@4"
    - node_js: 8
      env: NPM_INSTALL_EXTRA="webpack@3"
    - node_js: 8
      env: NPM_INSTALL_EXTRA="webpack@4"

before_script:
  - npm install ${NPM_INSTALL_EXTRA}
script: NODE_ENV=test npm run ${NPM_SCRIPT:-test:all}
cache:
  directories:
    - node_modules
