language: node_js

matrix:
  fast_finish: true
  include:
    - node_js: 7
      env: WEBPACK_VERSION=1 EXTRACT_TEXT_VERSION=1 BABEL_LOADER=6 FILE_LOADER=0.10
    - node_js: 7
      env: WEBPACK_VERSION=2 EXTRACT_TEXT_VERSION=2 BABEL_LOADER=7 FILE_LOADER=0.11
    - node_js: 7
      env: WEBPACK_VERSION=3 EXTRACT_TEXT_VERSION=2 BABEL_LOADER=7 FILE_LOADER=0.11
    - node_js: 4
      env: WEBPACK_VERSION=1 EXTRACT_TEXT_VERSION=1 BABEL_LOADER=6 FILE_LOADER=0.10

before_script:
  - npm install webpack@$WEBPACK_VERSION extract-text-webpack-plugin@$EXTRACT_TEXT_VERSION babel-loader@$BABEL_LOADER file-loader@$FILE_LOADER
cache:
  directories:
    - node_modules
