language: node_js

matrix:
  fast_finish: true
  allow_failures:
    - node_js: 4
  include:
    - node_js: node
      env: NPM_SCRIPT=lint
    - node_js: node
      env: NPM_SCRIPT=commitlint-travis
    - node_js: node
      env: NPM_INSTALL_EXTRA="webpack@4 file-loader@1 html-webpack-plugin@3.2.0"
    - node_js: 8
      env: NPM_INSTALL_EXTRA="webpack@3 file-loader@0.11 html-webpack-plugin@2.22.0"
    - node_js: 8
      env: NPM_INSTALL_EXTRA="webpack@4 file-loader@1 html-webpack-plugin@3.2.0"

before_script:
  - npm install ${NPM_INSTALL_EXTRA}
script: npm run ${NPM_SCRIPT:test}
cache:
  directories:
    - node_modules
